.menu{
  line-height: 4;

}

.hamburger{
  line-height: 3;
  display: none;
}

#intro{
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background-color: white;
}

form input {
  display: block;
  margin-bottom: 4px;
}

.dati{
  margin-top: 8%;
  margin-bottom: 8%;
  background: white;
  padding: 60px 15px;
  border: 2px solid white;
  border-radius: 4px;
}

#customer{
  background: #F3F5F9;
}

.carousel{
  background: #F3F5F9;
}

#tabella{
background-image: url("../img/data-center-map.svg");
background-repeat: no-repeat;
background-size: 100%;
}

.text-color-white{
  color:white;
}

.text-color-grey{
  color:grey;
}

.text-color-acqua{
  color:rgb(8, 124, 110);
}

#account{

  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


footer{
  background: #010E28;
  color: grey;
}
