.menu{
  line-height: 4;

}

.hamburger{
  line-height: 3;
  display: none;
}

#intro{
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background-color: white;
}

form input {
  display: block;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
}

.dati{
  margin-top: 8%;
  margin-bottom: 8%;
  background: white;
  padding: 60px 15px;
  border: 2px solid white;
  border-radius: 4px;
}

.dati button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dati a{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.presentazione{
  margin: 30% auto;
}

.process li{
  line-height: 3;
  border-left: 1px solid grey;
}
#customer{
  background: #F3F5F9;
}

#customer li{
  display: inline-block;
  list-style-type: none;
  width: calc((100% / 6) - 4px);
}

#customer li img{
  width: 80%;
}

.carousel{
  background: #F3F5F9;
}

#tabella{
color: white;
background: #031b4e url("../img/data-center-map.svg");
}

.text-color-white{
  color:white;
}

.text-color-grey{
  color:grey;
}

.text-color-acqua{
  color:rgb(8, 124, 110);
}

#account{
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  padding-top: 3%;
}


footer{
  background: #010E28;
  color: grey;
}
